.header {
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px;
    margin-bottom: 80px;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid var(--corSecundaria);
}

.name{
    font-size: 20px;
    color: var(--corSecundaria);
}

header ul {
    display: flex;
    margin-top: 30px;
    margin-left: -23px;
}

header ul li {
    margin: 20px;
    list-style: none;
    text-align: center;
    font-size: 15px;
}

@media (min-width:  100px) and (max-width: 450px) {
    header ul li {
        margin: 18px 10px;
        list-style: none;
        text-align: center;
        font-size: 15px;
    }

    header ul {

        margin-top: 20px;
        margin-left: -3px;
    }
}