/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

div.telaInicial.invalid-user{
  align-items: center;
  justify-content: center;
  margin: 0 auto 200px;
  display: block;
  position: relative;
}

div.telaInicial.invalid-user a img{
  width: 180px;
  margin-bottom: 250px;
}

div.telaInicial.invalid-user h3{
  position: absolute;
  width: 180px;
  top: 0;
  margin-top: 100px;
  text-align: center;
  z-index: 10;
}

div.telaInicial.valid-user{
display: none;
}

.app-container.invalid-user {
  height: 100vh;
  position: relative;

}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  transition: all 0.3s ease;
  background-color: var(--corPrincipal);
}

/* Estilos para o estado inicial (usuário não válido) */
.invalid-user .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-large {
  width: 400px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  transition: all 0.3s ease;
}


.valid-user {
  align-items: flex-start;
  justify-content: flex-start;
}

div.app-container.invalid-user {
  align-items: center;
}

div.app-container.invalid-user > a img{
  display: none;
} 

div.app-container.valid-user img{
  height: 50px;
  padding-right: 20px;
  margin-top: 10px;
} 

div.app-container.valid-user {
  justify-content: space-between;
  display: flex;
  flex-direction:row-reverse;
}

.valid-user .form-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: var(--corPrincipal);
}

.input-small {
  width: 200px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease;
}

button {

  padding: 10px 20px;
  font-size: 16px;
}


@media (min-width:  100px) and (max-width: 450px) {
  button {
    padding: 8px 16px;
    font-size: 13px;
    width: 100%;
  }

  .input-large {
    width: auto;
    height: 60px;
    font-size: 24px;
    text-align: center;
    transition: all 0.3s ease;
  }

}

@media (min-width:  368px) and (max-width: 450px){
  button{
    width: 200px;
  }
}


