/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  transition: all 0.3s ease;
  background-color: var(--corPrincipal);
}

/* Estilos para o estado inicial (usuário não válido) */
.invalid-user .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.input-large {
  width: 400px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Estilos para o estado após o usuário ser válido */
.valid-user {
  align-items: flex-start;
  justify-content: flex-start;
}

div.app-container.invalid-user {
  align-items: center;
}

.valid-user .form-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: var(--corPrincipal);
}

.input-small {
  width: 200px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease;
}

/* Botão */
button {

  padding: 10px 20px;
  font-size: 16px;
}



